<div class="show-mobile">
  <div>
    <button>
      <img src="./../../../assets/images/menu.png" alt="menu" />
    </button>
    <a href="">
      <img src="./../../../assets/images/YardSale.png" alt="logo"/>
    </a>
    <a href="">
      <img src="./../../../assets/images/car.png" alt="car"/>
    </a>
  </div>
</div>

<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo"  href="">
        <img src="./../../../assets/images/YardSale.png" alt="logo"/>
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">betty@mail.com</div>
      <div>
        <a href="">
          <img src="./../../../assets/images/car.png" alt="car"/>
        </a>
      </div>
    </div>
  </div>
</div>
